<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.powerdunc.signalnotifier" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/signalnotifier_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/signalnotifier_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".SignalNotifierApp">

        <receiver android:name=".Services.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.powerdunc.signalnotifier.Services.MobileStrengthService"></service>



        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity">

        </activity>
    </application>

</manifest>